/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* background */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    background:linear-gradient(135deg,#1d2671,#c33764);
}

/* inbox*/
#Registrering,
#loginn{
    background:white;
    padding:30px;
    width:320px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
    display:flex;
    flex-direction:column;
    gap:12px;
}

/* addrisen*/
#Registrering h1,
#loginn h1{
    font-size:18px;
    text-align:center;
    color:#333;
    margin-bottom:10px;
}

/* input */
input{
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
    transition:0.3s;
}

input:focus{
    outline:none;
    border-color:#1d2671;
    box-shadow:0 0 6px rgba(29,38,113,0.3);
}

/* massage*/
#regStatus{
    font-size:14px;
    color:#444;
    text-align:center;
}

/* button */
button{
    padding:12px;
    border:none;
    border-radius:6px;
    background:#1d2671;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#c33764;
}